name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Install bootimage
      run: cargo install bootimage
    - name: Set nightly
      run: rustup override set nightly
    - name: Install llvm-tools-preview
      run: rustup component add llvm-tools-preview
    - name: Install rust-src
      run: rustup component add rust-src
    - name: Build
      run: cargo build --verbose
