name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Prepare CI
      run: |
        cargo install bootimage
        rustup override set nightly
        rustup component add llvm-tools-preview
        rustup component add rust-src
    - name: Build OS
      run: |
        cargo build --verbose
    - name: Make ISO
      run: |
        sudo apt-get -y install grub2-common tree
        mkdir -p isofiles/boot/grub
        cp grub.cfg isofiles/boot/grub/grub.cfg
        tree .
        fint . -name "*bootimage*"
        cp target/x86_64-thermiteos/release/bootimage-thermiteos.bin isofiles/boot/
        exec grub-mkrescue -o thermiteos.iso isofiles
